@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!</h1>
    <p>Faça seu empréstimo conosco <a asp-controller="Emprestimos" asp-action="Create">aqui</a></p>
</div>
